body {
  margin: 0;
  padding: 0;
  font-family:Product Sans;
  background-color: #000000;
}

.container {
  /* max-width: 1900px; */
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  background-color: #000000;
  justify-content: space-between;
  align-items: center;
  /* height: 100%; */
}

.navbar {
  height:4rem;
  background-color: #000000;
  color: white;
  position: relative;
}

.logo {
  color: rgb(255, 255, 255);
  font-family: funky;
  font-size: 3rem !important;
  color: gold;
}

.menu-icon {
  display: none;
}

.nav-elements ul {
  display: flex;
  justify-content:flex-start;
  list-style-type: none;
}

.nav-elements ul li:not(:last-child) {
  margin-right: 20px;
}

.nav-elements ul a {
  font-size: 1.25rem;
  font-weight: 400;
  color: #ffffff;
  text-decoration: none;
}
.nav-elements ul a:hover{
  color: #ffe06e;
}
.nav-elements ul a.active {
  /* color: #ffffff; */
  font-weight: 500;
  position: relative;
  color: gold;
}

.nav-elements ul a.active::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: gold;
}
.searchh{
  padding-right: 3rem;
}
i{
  padding-left: 5rem;
  padding-top: 0.2rem;}