#searchp1{
    text-align: center;
    font-size: 6rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.lks{
    align-items: center;
    text-align: center;
    margin: auto;
    /* border: 2px solid red; */
}
#inputtext{
    font-size: 1.5rem;
    border-radius: 18px;
    border: 5px solid gold;
    padding: 0.5rem;
}
#searchbutton{
    text-align: center;
    font-size: 1.5rem;
    border-radius: 18px;
    border: 5px solid gold;
    padding: 0.5rem;
    margin-left: 1rem;
}
#searchbutton:hover{
    background-color: gold;
    color: black;
    cursor: pointer;
}
#searchicon{
    margin-left: 2rem;
}